{# templates/inc/footer.html.twig #}

{% block footer %}
    <footer class="block-element">
        <div id="footer-upper" class="block-element">

            <div class="container">


            </div>
        </div>
        <div id="footer-lower" class="block-element">
            <div class="container">
                <p>&copy; 2023 Daniel Attridge. All rights reserved.</p>
                <p>Designed and coded by <a href="/" class="link-light">Daniel Attridge</a>. Powered by <a href="https://symfony.com/" target="_blank">Symfony 6</a>.</p>
            </div>
        </div>
    </footer>
{% endblock %}
