{# templates/inc/nav.html.twig #}

{% block nav %}
    <nav class="block-element">
        <ul class="list">
            <li class="list-item"><a href="/">Home</a></li>
            <li class="list-item"><a href="/sales/new">New Sale</a></li>
            <li class="list-item"><a href="/sales/history">Sales History</a></li>
            <li class="list-item"><a href="/about">About</a></li>
        </ul>
    </nav>
{% endblock %}
